@{
    ViewBag.Title = "Test";
}
<script src="@Url.Content("~/Scripts/dynamic-map-1.0.0.js")" type="text/javascript"></script>
<style>
    .overlay
    {
        top: 0;
        left: 0;
        position: fixed;
        z-index: 10000;
        width: 100%;
        height: 100%;
        display: none;
        background-color: rgba(200, 200, 200, 0.3);
    }
    
    .overlay-content
    {
        top: 50px;
        right: 50px;
        bottom: 50px;
        position: fixed;
        z-index: 10000;
        overflow: hidden;
        width: 40%;
        height: 80%;
        padding: 20px;
        background-color: #FFFFFF;
        border: 10px solid #696969;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;        
    }
    
    .loading 
    {
        background-image: url('/Content/images/ajax-loader.gif');
        background-position: center center;
        background-repeat: no-repeat;
    }
</style>

<h2>Test</h2>

<div id="viewItemId_2" class="dynamic-map">
    <div id="pointId_28_500-500" class="point" style="top: 0%; left: 0%;">
    </div>
    <div id="pointId_29_500-500" class="point" style="top: 5%; left: 5%;">
    </div>
    <div id="pointId3" class="point" style="top: 50%; left: 50%;">
    </div>
</div>
<br />
<div id="viewItemId_3" class="dynamic-map">
    <div id="pointId4" class="point" style="top: 0%; left: 0%;">
    </div>
    <div id="pointId5" class="point" style="top: 5%; left: 5%;">
    </div>
    <div id="pointId6" class="point" style="top: 50%; left: 50%;">
    </div>
</div>
<div id="point-details" class="overlay">
    <div class="overlay-content">
        <form>
        <fieldset>
            <legend></legend>
            <div id="ajax-form"></div>
            <div style="width: 200px; margin: 0 auto;">
                <input type="button" id="save" value="Spremi" style="float: left;" />
                <input type="button" id="delete" value="Obriši" style="float: left;" onclick="deletePoint();" />
                <input type="button" id="close" value="Zatvori" style="float: right;" onclick="closePointDetails();" />
            </div>
        </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.dynamic-map').dynamicMap({
            addPointServerUrl: '/PageSetViewer/AddGridPoint',
            removePointServerUrl: '/PageSetViewer/RemoveGridPoint',
            pointClick: pointClickHandler,
            mapClick: mapClickHandler
        });
    });

    function pointClickHandler(map, point) {
        openPointDetails(map, point);
    }

    function mapClickHandler(map, point) {
        alert('Point ' + point.attr('id') + ' added to map ' + map.attr('id'));
    }

    function openPointDetails(map, point) {
        var pointDetails = $('#point-details').first();
        pointDetails.data('map', map);
        pointDetails.data('point', point);

        $('.overlay-content', pointDetails).addClass('loading');
        $('#ajax-form').html('');

        $.post('/PageSetViewer/OpenGridPoint', { viewItemId: map.attr('id'), pointId: point.attr('id') }, function (data, textStatus, jqXHR) {
            $('.overlay-content', pointDetails).removeClass('loading');
            $('#ajax-form').html(data);
        });

        pointDetails.show();
    }

    function closePointDetails() {
        var pointDetails = $('#point-details').first();
        pointDetails.data('map', null);
        pointDetails.data('point', null);
        pointDetails.hide();
    }

    function deletePoint() {
        var pointDetails = $('#point-details').first();
        var map = pointDetails.data('map');
        var point = pointDetails.data('point');

        closePointDetails();

        removeDynamicMapPoint(map.attr('id'), point.attr('id'));
    }
</script>
