/* Table - Grid
----------------------------------------------------------*/

table.grid {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
    font-size: 12px;
    table-layout: fixed;
}

table.grid thead th, table.grid tbody td {
	padding: 6px 4px;
	word-wrap: break-word;
}

table.grid thead th {
	text-align: left;
	border-bottom: 1px solid #5C87B2;
}

table.grid thead th a {
    text-decoration: none;
}

table.grid thead th a:hover {
    text-decoration: underline;
}

table.grid tbody td {
	border-bottom: 1px solid #ddd;
}

table.grid .sort_asc, table.grid .sort_desc {
    background-repeat: no-repeat;
    background-position: 6px center;
    padding-left: 30px;
}

table.grid .sort_asc {
    background-image: url('images/sort-ascending.png');
    
}

table.grid .sort_desc {
    background-image: url('images/sort-descending.png');
}

table.grid .gridrow_alternate 
{
    background-color: #fafafa;
}

table.grid .width20 {
    width: 20px;
}

table.grid .width50 {
    width: 50px;
}

table.grid .width60 {
    width: 60px;
}

table.grid .width75 {
    width: 75px;
}

table.grid .width100 {
    width: 100px;
}

table.grid .width150 {
    width: 150px;
}

table.grid .width200 {
    width: 200px;
}

.pagination {
    margin-bottom: 5px;
} 

.pagination {
    margin-bottom: 5px;
    font-size: 12px;
}

.pagination .paginationLeft
{
    font-weight: bold;
}

.pagination .paginationRight
{
    margin-left: 10px;
}