@model IPagination<OKU.Core.Entities.PageStructure.PageSet>
@{
    ViewBag.Title = this.Html.PageTitle("Ocjenjivanje");
}
<h2>
    Ocjenjivanje</h2>
@Html.LocalizedPager(Model)
@Html.LocalizedGrid(this.Model).Columns(column =>
    {
        column.For(x => x.Code);
        column.For(x => x.AttendeeMaterialStructure == null ? null : x.AttendeeMaterialStructure.Attendee).Named("Pristupnik").Sortable(false).HeaderAttributes(@class => "width200");
        column.For(x => this.Html.ActionLink("Ocijeni", "Page", new { pageSetId = x.Id, pageNumber = 1 })).Named("Akcije").Sortable(false).HeaderAttributes(@class => "width150");
    }).Sort((GridSortOptions)ViewData["sort"])
@Html.LocalizedPager(Model)
