@model OKU.Web.Models.PageSetViewer.ViewItemModel
@using OKU.Core.Entities;
@{
    this.Layout = null;
}
<div class="view-item">
    <h3>
        Zadatak</h3>
    @if (this.Model.ViewItem.Unit != null)
    {
        
    }
    else if (this.Model.DebugMode)
    {
        <div class="debug">
            ViewItem.Unit is null. Not null reference expected.</div>
    }
</div>
